* {

    margin: 0;

    padding: 0;

}



header,
main,
footer,
nav,
aside,
section,
div {

    display: block;
}


#wrapper {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

body {
    background-color: #e8e3eb;
}

.header-layout1 {
    display: flex;
    width: 1000px;
    height: 389px;
    background: #39072E;
}

#logo {
    position: absolute;
    margin-top: 28px;
    margin-left: 29px;
    width: 103px;
    height: 51px;
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    display: block;
}

.header-nav-layout1 {
    margin-left: 272px;
    margin-top: 332px;
    list-style-type: none;
    justify-content: flex-end;
    background: #B670E1;
    display: flex;
}

.header-nav-layout1 a {
    width: 243px;
    height: 57px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    background: #B670E1;
    display: block;
}


.header-nav-layout1 .selected {
    color: white;
    background: #9322D8;
}

.main-container {
    position: relative;
    width: 1000px;
    height: 489px;
    background: rgba(164, 82, 146, 0.38);
}

.main-container #rectangles-num-one {
    position: absolute;
    width: 92px;
    height: 37px;
    background: #39072E;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-left: 33px;
    margin-top: 22px;
}

.main-container #rectangles-num-two {
    position: absolute;
    width: 337px;
    height: 389px;
    background: #39072E;
    margin-left: 275px;
    margin-top: 27px;
}

.main-container #rectangles-num-three {
    position: absolute;
    width: 337px;
    height: 339px;
    background: #39072E;
    margin-left: 634px;
    margin-top: 27px;
}

footer {
    width: 1000px;
    height: 122px;
    background: #767171;
}

#wrapper-layout2 {
    width: 1400px;
    height: 2000px;
    margin: 0px auto;
}

.header-layout2 {
    display: flex;
    width: 1400px;
    height: 192px;
    background: rgba(164, 82, 146, 0.38);
}

.boxes-layout2 {
    display: flex;
    height: 1686px;
}

.header-nav-layout2 {
    width: 243px;
    height: 1686px;
    list-style-type: none;
    flex-direction: column;
    display: flex;
    background: #B670E1;
}

.header-nav-layout2 a {
    width: 237px;
    height: 128px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    background: #B670E1;
    display: block;
    padding-top: 59px;
    padding-left: 6px;
}

a {

    text-decoration: none;

}

a:hover {

    background-color: rgba(147, 34, 216, 0.88);

}

.header-nav-layout2 .selected-layout2 {
    color: black;
    background: rgba(147, 34, 216, 0.88);
}

main {
    display: flex;
}

main .flex-box-one {
    width: 818px;
    background: rgba(164, 82, 146, 0.38);
}

main .flex-box-two {
    width: 339px;
    background: #B670E1;
}

.flex-box-one .square1 {
    position: absolute;
    width: 338px;
    height: 338px;
    background: #39072E;
    margin-left: 30px;
}

.flex-box-one .square2 {
    position: absolute;
    width: 338px;
    height: 338px;
    margin-left: 398px;
    margin-top: 0px;
    background: #39072E;
}

.flex-box-one .square3 {
    position: absolute;
    width: 338px;
    height: 338px;
    margin-left: 30px;
    margin-top: 458px;
    background: #39072E;
}

.flex-box-one .square4 {
    position: absolute;
    width: 338px;
    height: 338px;
    margin-left: 30px;
    margin-top: 844px;
    background: #39072E;
}

.flex-box-one .square5 {
    position: absolute;
    width: 338px;
    height: 338px;
    margin-left: 398px;
    margin-top: 675px;
    background: #39072E;
}

.flex-box-two .box1-layout2 {
    position: absolute;
    margin-top: 66px;
    margin-left: 170px;
    width: 128px;
    height: 338px;
    background: rgba(56, 3, 81, 0.38);
}

.flex-box-two .box2-layout2 {
    position: absolute;
    margin-left: 106px;
    margin-top: 1528px;
    width: 128px;
    height: 125px;
    background: rgba(56, 3, 81, 0.38);
}

.footer-layout2 {
    width: 1400px;
    height: 122px;
    background: #767171;
}

#wrapper-layout3 {
    width: 1000px;
    height: 1121px;
    margin: 0 auto;
}

.header-layout3 {
    display: flex;
    width: 1000px;
    background: white;
}

#wrapper-layout3 nav {
    background-color: #39072E;
}

.box1-layout3 {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #605B5B;
    margin-left: 500px;
}

.box2-layout3 {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #605B5B;
    opacity: 0.5;
    margin-left: 750px;
}

.box3-layout3 {
    position: absolute;
    width: 250px;
    height: 250px;
    background: #605B5B;
    opacity: 0.3;
    margin-left: 500px;
    margin-top: 250px;
}

.header-nav-layout3 {
    margin-top: 438px;
    list-style-type: none;
    background: #B670E1;
    display: flex;
}

.header-nav-layout3 a {
    width: 167px;
    height: 62px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    background: #B670E1;
    display: block;
}


.header-nav-layout3 .selected {
    color: black;
    background: #9322D8;
}

.footer-layout3 {
    width: 1000px;
    height: 121px;
    background: #C4C4C4;
}

.box {
    width: 50px;
    height: 50px;
    padding: 4px;
    box-sizing: border-box;
    display: inline-block;
    border: 4px solid #fff;
    background-color: #ddd;
}

#dynamicBoxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#dynamicBoxs div {
    width: 250px;
    height: 250px;
    background: #605B5B;
}



#dynamicBoxs div:nth-child(2n+1) {
    opacity: 100%;
}


#dynamicBoxs div:nth-child(2n+2) {
    opacity: 50%;
}


#dynamicBoxs div:nth-child(2n+3) {
    opacity: 100%;
}


#dynamicBoxs div:nth-child(2n+4) {
    opacity: 50%;
}


#dynamicBoxs div:nth-child(2n+5) {
    opacity: 30%;
}

#dynamicBoxs div:nth-child(2n+6) {
    opacity: 10%;
}

#dynamicBoxs div:nth-child(2n+7) {
    opacity: 30%;
}

#dynamicBoxs div:nth-child(2n+8) {
    opacity: 10%;
}

#dynamicBoxs div:nth-child(2n+9) {
    opacity: 100%;
}

#dynamicBoxs div:nth-child(2n+10) {
    opacity: 50%;
}

#dynamicBoxs div:nth-child(2n+11) {
    opacity: 100%;
}

#dynamicBoxs div:nth-child(2n+12) {
    opacity: 50%;
}

#dynamicBoxs div:nth-child(2n+13) {
    opacity: 30%;
}

#dynamicBoxs div:nth-child(2n+14) {
    opacity: 10%;
}

#dynamicBoxs div:nth-child(2n+15) {
    opacity: 30%;
}

#dynamicBoxs div:nth-child(2n+16) {
    opacity: 10%;
}

#dynamicBoxs div:nth-child(2n+17) {
    opacity: 100%;
}

#dynamicBoxs div:nth-child(2n+18) {
    opacity: 50%;
}

#dynamicBoxs div:nth-child(2n+19) {
    opacity: 100%;
}

#dynamicBoxs div:nth-child(2n+20) {
    opacity: 50%;
}

#dynamicBoxs div:nth-child(2n+21) {
    opacity: 30%;
}

#dynamicBoxs div:nth-child(2n+22) {
    opacity: 10%;
}

#dynamicBoxs div:nth-child(2n+23) {
    opacity: 30%;
}

#dynamicBoxs div:nth-child(2n+24) {
    opacity: 10%;
}

.header-box-layout3 {
    position: absolute;
    display: flex;
    width: 500px;
    height: 438px;
    background: #39072E;
}

.containerlayout3 {
    display: flex;
    position: absolute;
    margin-top: 207px;
    margin-left: 207px;
}

img {
    position: absolute;
    margin-top: 170px;
    margin-left: 200px;
    width: 87px;
    height: 86px;
}

#dynamicBoxs div:hover {
    background: rgba(147, 34, 216, 0.88);
}

@media (max-width: 900px) {

    #logo {
        margin-left: 205px;
        margin-top: 31px;
    }

    .header-layout3 {
        width: 500px;
    }

    .box1-layout3 {
        display: none;
    }

    .box2-layout3 {
        display: none;
    }

    .box3-layout3 {
        display: none;
    }

    .box4-layout3 {
        display: none;
    }

    #wrapper-layout3 {
        width: 500px;
        height: 1121px;
    }

    .footer-layout3 {
        width: 500px;
        height: 121px;
    }

}